<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="google-site-verification" content="tR2LL7XYGy6pMuiiVPmOpr-CeKIo2bvxbAs3azHxhIs" />
        <title>iamatikulate | An Interactive Forum for Atiku Abubakar 2019 Presidential Campaign</title>
        {% block metatags %}
            <meta name="description" content="Share your expectation and ideas with the Leaders that listen and help make Nigeria great. Join the conversation today">

            <!-- Twitter Card data -->
            <meta name="twitter:card" content="Share your expectation and ideas with the Leaders that listen and help make Nigeria great. Join the conversation today">
            <meta name="twitter:site" content="@i_am_atikulate">
            <meta name="twitter:title" content="iamatikulate | An Interactive Forum for Atiku Abubakar 2019 Presidential Campaign">
            <meta name="twitter:description" content="Share your expectation and ideas with the Leaders that listen and help make Nigeria great. Join the movement today">
            <!-- Twitter Summary card images must be at least 120x120px -->

            <meta property="og:title" content="iamatikulate | An Interactive Forum for Atiku Abubakar 2019 Presidential Campaign" />
            <meta property="og:type" content="article" />
            <meta property="og:url" content="https://iamatikulate.com" />
            <meta property="og:description" content="Share your expectation and ideas with the Leaders that listen and help make Nigeria great. Join the movement today" />
            <meta property="og:site_name" content="iamatikulate.com" />
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="icon" href="{% static 'images/favicon.png' %}">
        <!-- Facebook Pixel Code -->
        <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '242733453066751');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=242733453066751&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1135898076565289&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
    </head>
    <body>
        <div id="app">
            {% include 'parts/sidebar.html' %}
            {% block content %}
                content block here
            {% endblock content %}
            {% include 'parts/footer.html' %}
        </div>
        <div class="modal" id="notify-modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <figure class="image is-64x64">
                        <img src="{% static 'images/sound.svg' %}" alt="Notification Icon">
                    </figure>
                    <div class="has-text-centered">
                        <h3 class="title is-4">Don't miss out on any conversation!</h3>
                        <p>Be the first to know when something new and exciting happens.</p>
                        <p>
                            <button class="button is-danger notification-button" disabled="disabled">
                                <span class="icon"><i class="fas fa-bell"></i></span>
                                <span>Notify me</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
        
        <script type="text/javascript">
            var static_images_url = "{% static '/images' %}",
                is_user_logged_in = "{{ request.user.is_authenticated }}"
        </script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5UDMYORHhKtiicDIYYmUah6PAGp4zrIE" type="text/javascript"></script>
        <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'js/sweetalert.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.autoexpand.js' %}"></script>
        <script src="{% static 'js/noty.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/ip-geolocation-api-jquery-sdk@1.0.3/ipgeolocation.min.js"></script>
        <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127491935-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-127491935-1');
        </script>

    </body>
</html>
