<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="google-site-verification" content="tR2LL7XYGy6pMuiiVPmOpr-CeKIo2bvxbAs3azHxhIs" />
        <title>iamatikulate | An Interactive Forum for Atiku Abubakar 2019 Presidential Campaign</title>
        {% block metatags %}
            <meta name="description" content="Share your expectation and ideas with the Leaders that listen and help make Nigeria great. Join the movement today">

            <!-- Twitter Card data -->
            <meta name="twitter:card" content="Share your expectation and ideas with the Leaders that listen and help make Nigeria great. Join the movement today">
            <meta name="twitter:site" content="@i_am_atikulate">
            <meta name="twitter:title" content="iamatikulate | An Interactive Forum for Atiku Abubakar 2019 Presidential Campaign">
            <meta name="twitter:description" content="Share your expectation and ideas with the Leaders that listen and help make Nigeria great. Join the movement today">
            <!-- Twitter Summary card images must be at least 120x120px -->

            <meta property="og:title" content="iamatikulate | An Interactive Forum for Atiku Abubakar 2019 Presidential Campaign" />
            <meta property="og:type" content="article" />
            <meta property="og:url" content="https://iamatikulate.com" />
            <meta property="og:description" content="Share your expectation and ideas with the Leaders that listen and help make Nigeria great. Join the movement today" />
            <meta property="og:site_name" content="iamatikulate.com" />
        {% endblock %}


        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="icon" href="{% static 'images/favicon.png' %}">
    </head>
    <body>
        <div id="app">
            {% include 'parts/sidebar.html' %}
            {% block content %}
                content block here
            {% endblock content %}
            {% include 'parts/footer.html' %}
        </div>
        <div class="modal" id="notify-modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <figure class="image is-64x64">
                        <img src="{% static 'images/sound.svg' %}" alt="Notification Icon">
                    </figure>
                    <div class="has-text-centered">
                        <h3 class="title is-4">Stay up to date!</h3>
                        <p>Be notified when there are new post or when people like and comment on your post.</p>
                        <p>
                            <button class="button is-info" id="notification-button" disabled="disabled">
                                <span class="icon"><i class="fas fa-bell"></i></span>
                                <span>Notify me</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
        <script type="text/javascript">
            var static_images_url = "{% static '/images' %}",
                is_user_logged_in = "{{ request.user.is_authenticated }}"
        </script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5UDMYORHhKtiicDIYYmUah6PAGp4zrIE" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'js/sweetalert.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127491935-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-127491935-1');
        </script>

    </body>
</html>
