<div class="hero is-info is-bold" style="margin-top:3em;">
    <div class="hero-body">
        <div class="has-text-centered">
            <span>Use the hashtag</span>
            <div>...</div>
            <h4 class="title" style="margin-bottom: 0px">#iamatikulate</h4>
            <div>...</div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <span class="credits">iamatikulate &copy; copyright 2018 &nbsp; <a href="{% url 'iconnect:privacy_policy' %}">Privacy Policy</a></span>
                </div>
            </div>
            <div class="level-left has-text-centered">
                <span class="credits">built with <i class="fas fa-heart"></i> by <a href="http://kenoalordiah.com" target="_blank">Keno Alordiah</a></span>
            </div>
            <div class="level-right">
                <div class="level-item social-links">
                    <a href="#" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
