{% load humanize %}
<div class="level is-mobile post-meta">
    <div class="level-left">
        <div class="level-item">
            <form action="{% url 'iconnect:like' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="uuid" value="{{ post.uuid }}" id="uuid">
                <button type="submit" class="button is-small is-white like-button">
                    <span class="icon"><i class="fas fa-thumbs-up"></i></span>
                    <span class="like-count" style="display:inline-block; margin-right:5px;">{{ post.likes }}</span> <span>In Support</span>
                </button>
            </form>
            <a href="{% url 'iconnect:view' uuid=post.uuid %}" class="button is-small is-white">
                <span class="icon"><i class="fas fa-comment"></i></span>
                <span>{{ post.comments }} Response{{ post.comments|pluralize }}</span>
            </a>
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <a href="#" class="button is-small is-white prevent-action" aria-haspopup="true" aria-controls="dropdown-menu{{ post.id }}">
                        <span class="icon"><i class="fas fa-share-alt"></i></span>
                        <span>Share</span>
                    </a>
                </div>

                <div class="dropdown-menu" id="dropdown-menu{{ post.id }}" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item share-links">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://{{ request.get_host }}{{ post.link }}" target="_blank"><span class="icon"><i class="fab fa-facebook"></i></span></a>
                            <a href="https://twitter.com/intent/tweet?text={{ post.text|truncatechars:120 }}...Read more&url=https://{{ request.get_host }}{{ post.link }}&hashtags=iamatikulate" target="_blank"><span class="icon"><i class="fab fa-twitter"></i></span></a>
                            <a href="https://plus.google.com/share?url=https://{{ request.get_host }}{{ post.link }}" target="_blank"><span class="icon"><i class="fab fa-google-plus"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="level-right is-hidden-touch">
        <div class="level-item">
            <span class="date">{{ post.date|date:"jS N Y" }}</span>
        </div>
    </div>
</div>
{% if post.is_public == False and request.user.is_staff %}
<div>
    <form class="approve-post-form" action="{% url 'iconnect:approve_post' uuid=post.uuid %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ post.id }}" class="post-id">
        <button type="submit" class="is-small is-danger button">
            <span class="icon"><i class="fas fa-check"></i></span>
            <span>Approve</span>
        </button>
    </form>
</div>
{% endif %}
