{% load static %}
<meta name="description" content="{{ description }}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@i_am_atikulate">
<meta name="twitter:title" content="{% if title %}{{ title }} posted on #iamatikulate.{% endif %}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{% static 'images/social-card.jpg' %}">
<!-- Twitter Summary card images must be at least 120x120px -->

<meta property="og:title" content="{% if title %}{{ title }} posted on #iamatikulate.{% endif %}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://iamatikulate.com{{ url }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:site_name" content="iamatikulate.com" />
<meta name="og:image" content="https://iamatikulate.com{% static 'images/social-card.jpg' %}">
