{% load static humanize %}
<div class="section post" data-latitude="{{ post.latitude }}" data-longitude="{{ post.longitude }}" data-text="{{ post.text }}" data-uuid="{{ post.uuid }}">
    <div class="meta">
        <img src="{% static 'images/user.svg' %}" alt="{{ post.fullname }}">
        <div>
            <div><strong>{{ post.fullname }}</strong> <span>in <a href="{% url 'iconnect:explore' %}?category={{ post.category.slug }}&cat_id={{ post.category.id }}">{{ post.category.title }}</a></span></div>
            <div class="location">
                <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                <span>{{ post.location }}</span>
            </div>
            <!-- <span>{{ post.date|date:"jS N Y @fA" }}</span> -->
        </div>
    </div>
    <div class="text">
        <p>{{ post.text }}</p>
    </div>
    <footer>
        {% include './meta.html' with post=post %}
    </footer>
</div>
