{% extends '../app_base.html' %}

{% load static humanize %}
{% block content %}

    <div class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="notification is-light has-text-centered" style="padding:2em !important; border: 1px solid rgba(0,0,0,.1)">
                        <h1 class="title is-3 is-size-5-mobile is-marginless">Welcome {{ request.user.first_name }}!</h1>
                        <p>What would you like to talk about today?</p>
                        <p>
                            <a href="{% url 'iconnect:post' %}" class="button is-rounded is-info start-here-action" >Share something interesting</a>
                        </p>
                    </div>

                    {% include '../parts/dashboard_menu.html' with menu='dashboard' %}

                    {% if posts %}
                        <div id="posts">
                            {% for post in posts %}
                                {% include '../parts/post.html' with post=post %}
                            {% endfor %}
                        </div>
                        <p>
                            <a href="{% url 'iconnect:post' %}" class="button is-primary">
                                <span class="icon"><i class="fas fa-arrow-right"></i></span>
                                <span>Add new post</span>
                            </a>
                        </p>
                    {% else %}
                    <div class="notification is-danger">You do not have any posts yet</div>
                    <p>
                        <a href="{% url 'iconnect:post' %}" class="button is-primary">
                            <span class="icon"><i class="fas fa-arrow-right"></i></span>
                            <span>Add post</span>
                        </a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
