{% extends '../app_base.html' %}

{% load static menu_active %}
{% block content %}

    <div id="map-explore"></div>


    <div class="section explore-page">
        <div class="container">
            {% if request.user.is_authenticated %}
                <div class="section has-text-centered is-cta">
                    <h3 class="title is-4 is-size-5-mobile">Together, we can get Nigeria working again.</h3>
                    <p>Share your ideas and expectations with the team that listens</p>
                    <a href="{% url 'iconnect:post' %}" class="start-here-action button is-info is-rounded" id="expectation">Share your expectation</a>
                    <a href="{% url 'iconnect:post' %}" class="start-here-action button is-danger is-rounded" id="idea">Share an idea</a>
                </div>
            {% else %}
                <div class="section has-text-centered is-cta">
                    <h3 class="title is-4 is-size-5-mobile">Your voice is instrumental to Nigeria's success.</h3>
                    <p>Don't stay quiet, sign up and contribute today</p>
                    <a href="{% url 'iconnect:post' %}" class="button is-info is-rounded" id="expectation">Join us today</a>
                </div>
            {% endif %}
            <div class="columns">
                <div class="column is-3">
                    {% if categories %}
                        <div class="menu is-categories">
                            <a href="#" class="menu-label topic-menu prevent-action">Topics</a>
                            <ul class="menu-list categories-menu">
                                {% for category in categories %}
                                    <li><a href="{% url 'iconnect:explore' %}?category={{category.title|urlencode}}&id={{category.id}}" class="{% if request.GET.id %}{{ category.id|is_menu_active:request.GET.id }}{% endif %}">{{ category.title }}</a></li>
                                {% endfor %}
                            </ul>
                            {% if locations %}
                                <a href="#" class="menu-label topic-menu prevent-action">Top Locations</a>
                                <ul class="menu-list">
                                    {% for location in locations %}
                                        <li><a href="{% url 'iconnect:explore' %}?state={{location.state}}" class="{% if request.GET.state %}{{ location.state|is_location_active:request.GET.state }}{% endif %} has-figure">{{ location.state }} <span>{{ location.num_post }}</span></a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
                <div class="column is-9 is-post-content">

                    <div id="pushendpoint"></div>
                    {% if request.GET.category %}
                        <div>
                            <span>Posts in</span>
                            <h1 class="title is-5">{{request.GET.category}}</h1>
                        </div>
                    {% else %}
                        <h1 class="title is-5">Recent Posts</h1>
                    {% endif %}

                    <hr>
                    {% if posts %}
                        <div id="posts">
                            {% for post in posts %}
                                {% include '../parts/post.html' with post=post %}
                            {% endfor %}
                        </div>
                        {% if posts.paginator.num_pages > 1 %}
                        <hr>
                        <div class="columns is-mobile">
                            <div class="column">
                                {% if posts.has_previous %}
                                    <a href="{% querystring page=posts.previous_page_number %}" class="button is-info is-small is-rounded"><span class="icon"><i class="fas fa-arrow-left"></i></span><span>Previous</span></a>
                                {% endif %}
                            </div>
                            <div class="column has-text-centered">
                                <h4 class="title is-7" style="margin-top: 12px;">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</h4>
                            </div>
                            <div class="column has-text-right">
                                {% if posts.has_next %}
                                    <a href="{% querystring page=posts.next_page_number %}" class="button is-info is-small is-rounded"><span>Next</span><span class="icon"><i class="fas fa-arrow-right"></i></span><span></a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% else %}
                        <!-- <div class="notification is-danger">No post found!</div> -->
                        <h4 class="title is-5 has-text-danger">We need your contibutions!</h4>
                        <p>Be the first to share something interesting in this category</p>
                        <a href="{% url 'iconnect:post' %}" class="button is-primary">
                            <span class="icon"><i class="fas fa-plus"></i></span>
                            <span>Start here</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    <div class="modal explore-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="share-images">
                    <img src="{% static 'images/modal-logo.jpg' %}" alt="Share with friends">
                </div>
                <div class="has-text-centered">
                    <h3 class="title is-5">Help us share this website with your friends on social media</h3>
                    <p>We are counting on you. Thanks!</p>
                    <hr>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://{{ request.get_host }}{% url 'iconnect:explore' %}" target="_blank" class="facebook social-modal-links"><span class="icon"><i class="fab fa-facebook"></i></span></a>
                    <a href="https://twitter.com/intent/tweet?text=Join the conversation on www.iamatikulate.com and share your ideas for a greater Nigeria. Sign up today! &url=https://{{ request.get_host }}{% url 'iconnect:explore' %}&hashtags=iamatikulate" target="_blank" class="twitter social-modal-links"><span class="icon"><i class="fab fa-twitter"></i></span></a>
                    <a href="https://plus.google.com/share?url=https://{{ request.get_host }}{% url 'iconnect:explore' %}" target="_blank" class="google-plus social-modal-links"><span class="icon"><i class="fab fa-google-plus"></i></span></a>
                </div>
            </div>
        </div>
        <button class="modal-close" aria-label="close"></button>
    </div>


{% endblock content %}
